/* CSS Document */
html {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
#navbarText{
	text-align: center;
}
.custom-content {
	text-align: center;
	border: 4px solid black;
	border-radius: 5px;
	padding: 0px 4px;
	margin: 8px 0px;
	background-color: darkgray;
}
h1, h2 {
	color: navy;
}
#navbar {
	display: block;
}
ul.navlist {
	position: relative;
	overflow: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: darkgray;
	border: 4px solid black;
	border-radius: 5px;
	font-size: 1.2em;
}
li.navitem {
	text-align: center;
	float: left;
}
li.navitem a {
	display: block;
	color: navy;
	font-weight: bold;
	padding: 8px 8px;
	text-decoration: none;
}
li.navitem a.active {
	background-color: navy;
	color: white;
}
li.navitem a:hover:not(.active) {
	background-color: navy;
	color: white;
}
